@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

body{
    width: 100%;
    background-image: url(./imgs/bg1.png);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.firstContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding-bottom: 20vh;
}
.selectProducts{
    padding-top: 3vh;
}
.forYou{
    margin-top: -2.2vh;
}
.productList{
    font-size: small;
}
.theButtons{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.buttons{
    color: #888888;
    margin-top: -1.5vh;
    background: none;
    background-color: #FFFFFF;
    height: 6.5vh;
    width: 20vh;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0 0 1em #555555;
    font-family: 'Roboto', sans-serif;
}
.buttons:hover{
    color: white;
    background-color: #4e4e4e;
}
.mainContent{
    display: flex;
    flex-direction: row;
}
.midBody{
    display: flex;
    padding-left: 22vh;
    padding-right: 8vh;
    text-align: left;
    flex-direction: column;
    color: #888888;
    width: 45%;
    font-family: 'Roboto', sans-serif;
}
.forms{
    display: flex;
    justify-content: safe;
    padding-right: 15vh;
    padding-top: 4vh;
    text-align: left;
    flex-direction: column;
    color: #888888;
    width: 40%;
    font-family: 'Roboto', sans-serif;
}
input[type=text], input[type=email], input[type=number]{
    padding: 1vh;
    width: 28vw;
}
.formsStyle{
    display: flex;
    text-align: left;
    box-sizing: 25vh;
    margin-bottom: -2vh;
}
.sendButton{
    width: 29vw;
    height: 5vh;
    color: #888888;
    font-family: 'Roboto', sans-serif;
}
.styleBars{
    margin-bottom: 5vh;
}
.products{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #888888;
    font-family: 'Roboto', sans-serif;
}
.shareNews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #888888;
    font-family: 'Roboto', sans-serif;
}
.secondForm{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    color: #888888;
    font-family: 'Roboto', sans-serif;
}
.secSendButton{
    width: 20vw;
    height: 5vh;
    color: #888888;
    font-family: 'Roboto', sans-serif;   
}
.positionButton{
    display: flex;
    justify-content: center;
}
.endPage{
    background-image: url(./imgs/bg2.png);
    width: 100%;
    position: absolute;
    background-size: cover;
}
.footerText{
    padding-top: 15vh;
    padding-bottom: 15vh;
    margin-top: 15vh;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    text-align: center;
}
.news{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #888888;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-bottom: 3.5vh;
}
.line{
    width: 75vh;
    border-top: 1px solid #888888;
    margin-top: 5vh;
    margin-left: 2vh;
    margin-right: 2vh;
}
.lineDirection{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.specialSelection{
    display: flex;
    flex-direction: column;
}
#productContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #888888;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    
}
li{
    display: flex;
    flex-direction: column;
    width: 22%;
    text-align: left;
    padding-left: 1%;
    padding-bottom: 2vh;
    padding-left: 3vh;
    word-break: break-all;

}
.moreProducts{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}
#price{
    color: #888888;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: medium;
}
#buttonMoreProducts{
    width: 20vw;
    height: 5vh;
    color: #888888;
    font-family: 'Roboto', sans-serif;
}