@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

body{
    width: 100%;
    background-image: url(./imgs/bg1.png);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}

.firstContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}
.products{
    padding-top: 3vh;
}
.forYou{
    margin-top: -2.2vh;
}
.productList{
    font-size: small;
}
.theButtons{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.buttons{
    color: #888888;
    margin-top: -1.5vh;
    background: none;
    background-color: #FFFFFF;
    height: 6.5vh;
    width: 20vh;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0 0 1em #555555;
    font-family: 'Roboto', sans-serif;
}
.buttons:hover{
    color: white;
    background-color: #4e4e4e;
}